{
  "only": [
    "."
  ],
  "presets": [
    ["env", {
      "targets": {"browsers": [
        "last 2 versions",
        "safari >= 7"
      ]}
    }]
  ],
  "plugins": [
    "inferno",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
